<h1>Requests</h2>

<% @books.each do |book| %>
  <% requests = book.requests.where(status: 0) %>
  <% if requests.count != 0%>
    <h4><%= link_to book.name,book %></h4>
    <% requests.each do |request| %>
      <p>Requested By <%= (link_to request.user.name,request.user) %></p>
      <%= button_to "Accept",user_request_path(user_id: current_user.id,id: request.id),method: :patch,class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
