%h1
  Requests
  - @requests_hash.each do |book,requests|
    - unless requests.count == 0
      %h4= link_to book.name,[current_user, book]
      - requests.each do |request|
        %p
          Requested By #{(link_to request.user.name,request.user)}
        = button_to "Accept",accept_user_request_path(user_id: current_user.id,id: request.id),method: :patch,class: "btn btn-primary"
        = button_to "Decline",decline_user_request_path(user_id: current_user.id,id: request.id),method: :patch,class: "btn btn-primary"
