.book-show
  .container
    .row
      .col-sm-5.col-md-4
        = image_tag(@book.image,class: ["center-block","img-responsive"],alt: @book.name)
      .col-sm-7.col-md-6
        %h4 ISBN: #{@book.isbn}
        -if current_user.owns? @book
          %h2
            I'm in possession of this book and I'm ready to share it with the world!
          .share
            - if @book.lock?
              = link_to "Share Now",user_book_unlock_path(user_id: current_user.id,book_id: @book.id),method: :patch
            - else
              = link_to "Un Share",user_book_lock_path(user_id: current_user.id,book_id: @book.id),method: :patch
