#app-start
  .heading
    how does recircle work?
  .instructions
    .row
      .col-sm-3
        %span 1
      .col-sm-9
        .text
          Add your old books to ReCircle so that your colleagues can see them
    .row
      .col-sm-3
        %span 2
      .col-sm-9
        .text
          Ask your colleague to share a book with you!
    .start
      =link_to "OK.Got it!",user_address_path(current_user)
