// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-show{
  .container{
    background-color:#fff;
    margin-top:20px;
  }
  .row{
    margin:30px 0px;
  }
  img{
    height: 500px;
  }
  h4{
    font-weight:500;
    color:#7E8D96;
  }
  h2{
    font-weight:300;
    color:#B8C0C4;
  }
  .share{
    display:inline-block;
    background-color:#1C9ABD;
    border-radius:5px;
    a{
      display:inline-block;
      font-size:20px;
      text-decoration:none;
      color:#fff;
      padding:5px 15px
    }
  }
}
.book-pickup{
  .container{
    margin-top:30px;
    background-color:#fff;
    border:1px solid #CACACA;
    padding-bottom:10px;
  }
  h1{
    color:#64747D;
    text-align:center;
    font-size:35px;
    font-weight:300;
    border-bottom: 2px solid #CACACA;
    margin:10px 0px;
    padding-bottom:10px;
    a{
      color:#64747D;
      font-weight:500;
      text-decoration:none;
    }
  }
  img{
    height:500px;
    margin:0 auto;
  }
  h4{
    color:#7C8B94;
    margin-right:10px;
  }
  h5{
    display:inline-block;
  }
}
