#nav
  .n-header
    =link_to "<h1><i class='fa fa-refresh'></i>ReCircle</h1>".html_safe,root_path,class: "n-brand"
  .n-nav
    %ul
      %li
        = link_to ("<span>"+current_user.books.count.to_s+"</span>"+"shared books").html_safe,user_shared_books_path(current_user)
      %li
        = link_to ("<span>"+current_user.requests.count.to_s+"</span>"+"requests").html_safe,user_requests_path(current_user)
      %li
        =link_to "Share a book","#",class:"share-book"

      %li
        .user
          = current_user.name

